.panel {
  width: 50%;
  min-height: 100px;
  margin: -50px auto 30px;
  background-color: white;
  border-radius: 500px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 40px;
  font-size: 16px;
  z-index: 10;
}

.left-group {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.search {
  position: relative;
  min-width: 40%;
}

.icon {
  width: 15px;
  height: 15px;
  opacity: 0.3;
  position: absolute;
  left: 12px;
  top: 8px;
}

.input {
  border: 1px solid gray;
  border-radius: 30px;
  padding: 8px 15px;
  padding-left: 42px;
  width: 100%;
}

/* .clearIcon {
  width: 18px;
  height: 18px;
  opacity: 0.3;
  position: absolute;
  right: 15px;
  top: 8px;
  cursor: pointer;
} */
.select {
  padding: 8px 15px;
  border: none;
  border-radius: 30px;
  border: 1px solid gray;
}
.sort {
  display: flex;
  gap: 3px;
}

.item {
  border-bottom: 1px solid gray;
  padding: 2px 5px;
  cursor: pointer;
}

.active {
  background-color: #d3d3d3;
}
@media (max-width: 1024px) {
  .panel {
    width: 75%;
  }
}

@media (max-width: 768px) {
  .panel {
    padding: 20px 30px;
    width: 95%;
  }
}

@media (max-width: 425px) {
  .search {
    width: 100%;
  }

  .panel {
    flex-direction: column;
    border-radius: 30px;
  }
}

@media (max-width: 375px) {
  .panel {
    border-radius: 50px;
    flex-direction: column;
  }
}