:root {
  --accent-color: #4682B4;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 100%;
}
a {
  text-decoration: none;
  color: black;
}
a,
button,
svg {
  cursor: pointer;
}
.base-title {
  font-size: 18px;
  font-weight: bold;
  line-height: 120%;
}
.main {
  margin-bottom: 50px;
  position: relative;
}
.container {
  width: 80vw;
  margin: 0 auto;
}
.spinner {
  width: max-content;
  margin: 0 auto;
}
.map-icon {
  height: 25px;
  width: 25px;
  fill: var(--accent-color);
}