.container {
  width: 100px;
  height: min-content;
  background-color: white;
  padding: 8px;
  text-align: center;
  -webkit-box-shadow: -2px 3px 17px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -2px 3px 17px 0px rgba(0, 0, 0, 0.2);
  box-shadow: -2px 3px 17px 0px rgba(0, 0, 0, 0.2);
}

.image {
  width: 100%;
  margin-bottom: 5px;
}

.text {
  font-size: 12px;
  font-weight: 600;
}